ARDUINOBMP BITMAP "images/arduinoBmp.bmp"
REDDOT BITMAP "images/redDot.bmp"
BLACKDOT BITMAP "images/blackDot.bmp"
BLACKLED BITMAP "images/blackLed.bmp"
REDLED BITMAP "images/redLed.bmp"
MOMENTARYDEPRESS BITMAP "images/momentaryDepress.bmp"
DEPRESSEDSWITCH BITMAP "images/depressedSwitch.bmp"
SEVENSEGMENT BITMAP "images/sevenSegment.bmp"
LEFTRIGHT BITMAP "images/leftRight.bmp"
UPDOWN BITMAP "images/upDown.bmp"
LCDDISPLAY BITMAP "images/4x20LcdDisplay.bmp"
LCDPIN BITMAP "images/LCDPin.bmp"
DOT BITMAP "images/dot.bmp"
TENKOHMS BITMAP "images/10kOhms.bmp"
KEYPAD BITMAP "images/keypad4x4.bmp"
TWOTWENTYOHMS BITMAP "images/220Ohms.bmp"
POT BITMAP "images/pot.bmp"
DIGIT3 BITMAP "images/3Digit.bmp"
HORIZONTAL3DIGIT BITMAP "images/horizontal3Digit.bmp"
VERTICAL3DIGIT BITMAP "images/vertical3Digit.bmp"
